<section>
  <h1> Hello, form-tutorial </h1>
  <p appHighlight>Highlight me!</p>
  <form [formGroup]="myForm">
      <input formControlName="firstName" type="text">
      <input formControlName="lastName" type="text">
  </form>
</section>
<section>
  <div>
    <h1>How I feel about Angular</h1>
    <article>
      <p>
        Angular is my favorite framework, and
        this is why. Angular has the coolest
        deferrable view feature that makes defer
        loading content the easiest and most
        ergonomic it could possibly be.
      </p>
    </article>

    
    @defer (on hover) {
      <app-article-comments />
    } @placeholder (minimum 1s) {
      <p>Placeholder for comments</p>
    } @loading (minimum 1s; after 500ms) {
      <p>Loading comments...</p>
    } @error {
      <p>Failed to load comments</p>
    }

  </div>
</section>
<section>
  <ng-template *ngFor="let item of [1,2,3] as items; trackBy: myTrack; index as i">{{i}}</ng-template>
</section>
<router-outlet />
